@media only screen and (max-height: 1285px) and (max-width: 1200px) {
    .share-buttons {
        display: none;
    }
}
@media only screen and (max-width: 835px) {
    .div-makale hr{
        width: 25%!important;
    }
}
.main-div {
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
    overflow-x: clip;
}

.quote{
    padding-left: 30px;
    border-left: 4px solid rgb(85, 26, 139);;
}

.div-icerik {
    max-width: var(--icerik-w);
    margin: 0px auto 0px auto;
    text-align: center;
    position: relative;
    top: calc(var(--navbar-h) + 42px + 21px);
}

.top-bar {
    margin: 0px 10px 0px 10px;
}

.c-p {
    cursor: pointer;
}

img {
    width: 100%;
    height: 100%;
    height: auto;
    cursor: zoom-in;
}

img:hover {
    transform: scale(1.02);
}

.img-div {
    max-width: clac(var(--icerik-w) - 10px * 2);
    margin: 20px 10px;
    overflow: hidden;
}

.img-div img {
    transition: transform .5s ease;
}

.top-bar .img-div {
    width: 100vw;
    /* left: calc(((100vw - var(--icerik-w)) / -2) - 11px); */
    left: 50%;
    transform: translateX(calc(-50% - var(--scrollbar-w)));
    position: relative;
    max-height: calc(100vh - var(--navbar-h));
    z-index: 1;
}

.img-subtitle {
    font-size: 1em;
    margin: 5px 0px 20px 0px;
}

.div-makale {
    margin: 20px 20px 0px 20px;
}

.div-makale hr{
    border: 0;
    height: 1px;
    width: 10%;
    position: relative;
    background: #39D1B4;
    /* background:rgb(85, 26, 139); */
    overflow: visible;
    margin: 2em auto;
}

.div-makale hr:before{
    content: "";
    width: 6px;
    height: 6px;
    background: #39D1B4;
    border: 2px solid #39D1B4;
    /* background: rgb(85, 26, 139);
    border: 2px solid rgb(85, 26, 139); */
    display: inline-block;
    position: absolute;
    top: -5px;
    left: calc(50% - 4px);
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.div-makale h1{
    font-weight: normal;
    margin-top: 1.5em;
    margin-bottom: .85em;
}
.div-makale li{
    text-align: left;
    font-size: 1.250em;
    line-height: 28px;
}
.div-makale a{
    text-align: left;
    font-size: 1.250em;
    line-height: 28px;
    display: block;
    cursor: pointer;
}

.seperator {
    font-size: 3.625em;
    display: inline-block;
    text-align: center;
    padding: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.share-buttons {
    position: absolute;
    left: calc(((100vw - var(--icerik-w)) / -2) + 2.5em);
    height: 150px;
    width: 1.575em;
    margin-left: -15px;
    margin-top: 300px;
}

.share-buttons i {
    display: block;
    position: initial;
    margin: 0px 0px 0px 0px;
    font-size: 1.575em;
    color: white;
}