@media only screen and (max-width: 1110px) and (min-width: 1010px) {
    * {
        --icerik-w: 1000px;
    }
    .blog-item {
        width: calc((100% / 3) - 32px)!important;
    }
    .blog-list-long{
        width: calc((100% / 2) - 32px)!important;
    }
}

@media only screen and (max-width: 1010px) and (min-width: 835px) {
    * {
        --icerik-w: 825px;
    }
    .div-blog-details {
        position: absolute!important;
    }
    .blog-item {
        width: calc((100% / 2) - 32px)!important
    }
    .blog-list-long{
        width: calc(100%)!important;
    }
}

@media only screen and (max-width: 835px) {
    .div-image {
        min-height: 30vh!important;
    }
    .blog-list {
        width: 100%!important;
    }
    .blog-item {
        width: calc(100% - 32px)!important;
    }
    .blog-list-long{
        width: calc(100%)!important;
    }
    .nav-bar-title{
        width: 50%!important;
    }
    .nav-bar-search{
        display: none!important;
    }
    .nav-bar-menu{
        width: 50%!important;
    }
}

.div-image img {
    width: 100%;
    /* height: 100%; */
    /* margin-top: 50%; */
    /* transform: translateY(-100%); */
    /* max-height: 80vh; */
    /* min-height: 664px; */
    min-height: 85vh;
    object-fit: cover;
}

.div-image {
    min-height: 45vh;
    max-height: 80vh;
    overflow: hidden;
}

.div-image::before {
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(15,14,21,0)),to(#0f0e15));
    background: -o-linear-gradient(top,rgba(15,14,21,0) 0,#0f0e15 100%);
    background: linear-gradient( 180deg ,rgba(15,14,21,0) 0,#0f0e15 100%);
    content: "";
    display: block;
    position: absolute;
    right: 0;
    z-index: 1;
    left: 0;
    min-height: 80vh;
}

@media only screen and (max-width: 992px) {
    .div-image img {
        min-height:80vh;
    }
    .div-image::before {
        min-height:80vh;
    }
}

@media only screen and (max-width: 768px) {
    .div-image img {
        min-height:65vh;
    }
    .div-image::before {
        min-height:65vh;
    }
    .blog-list{
        margin-top: 25vh!important;
    }
}

@media only screen and (max-width: 576px) {
    .div-image img {
        min-height:50vh;
    }
    .div-image::before {
        min-height:50vh;
    }
    .blog-list{
        margin-top: 40vh!important;
    }
}

.div-blog {
    overflow: hidden;
}

.kategori-bar {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.div-blog-details {
    z-index: 2;
    width: 100%;
    top: 50%;
    left: 0;
    opacity: 0;
    /* transform: translate(0, -50%); */
    /* left: 50%;
    transform: translate(-50%, -50%); */
    /* background-color: rgb(21, 25, 33); */
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    position: absolute;
}

.div-blog-details-transition{
    transition: 0.5s;
    
}

.blog-item-author-info{
    align-items: center;
    display: flex;
    margin-right: 5px;
}

.show{
    transform: translate(0, -50%);
    opacity: 1;
}

.title {
    display: inline-block;
    width: 100%;
}

.title a{
    -webkit-text-decoration-color: red; /* Safari */ text-decoration-color: red;
}

.description {
    display: inline-block;
    width: 100%;
    padding-left: 10px;
    text-align: left;
}

.description p {
    position: relative;
    margin-top: 10px;
}

.p-main-title {
    text-align: center;
}

.p-publish-title {
    text-align: center;
}

.blog-item .p-publish-title {
    z-index: 1;
}

.description .p-text{
    text-align: center;
}

.not-first{
    margin: 0px auto 0px auto!important;
}
.blog-list {
    display: flex;
    flex-wrap: wrap;
    width: var(--icerik-w);
    margin: 75px auto 0px auto;
}
.only-long{
    display: none;
}

#blog-list-fake .blog-item{
    margin-bottom: 50px;
}
#blog-list-fake .p-kategori-black-blog-item{
    height: calc(1.125em + 20px);
    width: 30%;
}
#blog-list-fake .p-baslik-blog-item{
    height: 0.6em;
    border-radius: 0.3em;
}
#blog-list-fake .p-aciklama-blog-item{
    height: 0.6em;
    border-radius: 0.3em;
}
.wrapper {
    width: 0px;
    animation: fullView 0.5s forwards cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
@keyframes fullView {
    100% {
        width: 100%;
    }
}
.animate {
    animation : shimmer 2s infinite linear;
    background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
    background-size: 1000px 100%!important;
}

@keyframes shimmer {
    0% {
        background-position: -1000px 0;
    }
    100% {
        background-position: 1000px 0;
    }
}
/* fake-end */

.blog-content{
    z-index: 1;
    width: 100%;
    margin-top: auto;
    padding: 0 32px 32px;
    pointer-events: none;
}
.p-aciklama-blog-item{
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 17px;
    color: #aaa;
}
.a-img-blog-item::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(15,14,21,.4);
    pointer-events: none;
}
.blog-item-details{
    pointer-events: all;
}
.kategori-bar-blog-item {
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
}

.blog-item {
    width: calc((100% / 3) - 32px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    min-height: 250px;
    border-radius: 16px;
    margin: 0 16px;
    margin-bottom: 32px;
    transition: 0.3s;
    -webkit-box-shadow: 0 5px 10px 0 rgb(0 0 0 / 50%);
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 50%);
    background-color: #09080f;
}

.blog-item:hover{
    transform: translateY(-5px);
}

.blog-list-long{
    width: calc((100% / 2) - 32px);
}

.img-blog-item {
    width: 100%;
    /* height: 200px; */
    position: absolute;
    z-index: 0;
    height: 100%;
    border-radius: 16px;
    cursor: pointer;
    object-fit: cover;
}