* {
    box-sizing: border-box;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    font-family: 'Bona Nova', serif;
    cursor: default;
    --icerik-w: 900px;
    --navbar-h: 65px;
}

img {
    width: 100%;
    height: 100%;
    height: auto;
    cursor: zoom-in;
}

img:hover {
    transform: scale(1.02);
}

.div-blog {
    margin-top: var(--navbar-h);
    overflow-x: hidden;
}