@media only screen and (max-width: 1110px) and (min-width: 910px) {
    * {
        --icerik-w: 900px;
    }
    .blog-item {
        width: calc(100% / 3)!important;
    }
}

@media only screen and (max-width: 910px) and (min-width: 735px) {
    * {
        --icerik-w: 725px;
    }
    .blog-item {
        width: calc(100% / 2)!important;
    }
}

@media only screen and (max-height: 1285px) and (max-width: 735px) {
    .div-blog-details {
        position: relative!important;
    }
    .title {
        width: 100%!important;
    }
    .description {
        width: 100%!important;
    }
    .div-blog-details {
        margin: 0px!important;
        transform: translateY(-5%)!important;
    }
    .div-image {
        min-height: 30vh!important;
    }
    .blog-list {
        width: 100%!important;
        margin-top: 0px!important;
    }
    .blog-item {
        width: calc(100% / 1)!important;
    }
    .nav-bar-title{
        width: 50%!important;
    }
    .nav-bar-search{
        display: none!important;
    }
    .nav-bar-menu{
        width: 50%!important;
    }
}

.div-image img {
    width: 100%;
    /* height: 100%; */
    /* margin-top: 50%; */
    /* transform: translateY(-100%); */
    max-height: 80vh;
    object-fit: cover;
}

.div-blog {
    margin-top: var(--navbar-h);
    overflow: hidden;
}

.div-image {
    min-height: 45vh;
    max-height: 80vh;
    overflow: hidden;
}

.kategori-bar {
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
    /* display: block; */
    display: flex;
    flex-wrap: wrap;
}

.div-blog-details {
    transform: translateY(-75%);
    margin: 0px 20% 0 5%;
    /* margin: 0px auto 0 5%;
    width: calc(var(--icerik-w) - 10%); */
    background-color: rgb(21, 25, 33);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    position: absolute;
    transition: 0.3s;
}

.title {
    display: inline-block;
    width: 50%;
}

.description {
    display: inline-block;
    width: 50%;
    padding-left: 10px;
    text-align: left;
}

.description p {
    position: relative;
    margin-top: 10px;
}

.p-main-title {
    text-align: left;
}

.p-publish-title {
    text-align: left;
}

.not-first{
    margin: 0px auto 0px auto!important;
}
.blog-list {
    display: flex;
    flex-wrap: wrap;
    width: var(--icerik-w);
    margin: 150px auto 0px auto;
}
.blog-list-long .blog-item{
    width: 70%!important;
    padding: 0;
    position: relative;
}
.blog-list-long .p-publish-title {
    position: absolute;
    top: 0;
    left: 25px;
}
.blog-list-long .img-blog-item{
    z-index: 5;
    position: relative;
    right: calc(-100%);
    width: 43%;
}
.blog-list-long .kategori-bar-blog-item{
    position: absolute;
    top: calc(1em);
    left: 25px;
}
.blog-list-long .blog-des-group{
    position: absolute;
    top: calc(1.125em + 1em + 50px);
    left: 25px;
    bottom: 0;
}
/* fake */
#blog-list-fake {

}
#blog-list-fake .img-blog-item{
}
#blog-list-fake .p-kategori-black-blog-item{
    height: calc(1.125em + 20px);
    width: 30%;
}
#blog-list-fake .p-baslik-blog-item{
    height: 0.6em;
    border-radius: 0.3em;
}
#blog-list-fake .p-aciklama-blog-item{
    height: 0.6em;
    border-radius: 0.3em;
}
.wrapper {
    width: 0px;
    animation: fullView 0.5s forwards cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
@keyframes fullView {
    100% {
        width: 100%;
    }
}
.animate {
    animation : shimmer 2s infinite linear;
    background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
    background-size: 1000px 100%!important;
}

@keyframes shimmer {
    0% {
        background-position: -1000px 0;
    }
    100% {
        background-position: 1000px 0;
    }
}
/* fake-end */
.blog-item {
    width: calc(100% / 3);
    display: inline-block;
    padding: 0 25px;
    margin-bottom: 20px;
    transition: 0.3s;
}

.img-blog-item {
    width: 100%;
    height: 200px;
    object-fit: cover;
}