.td-n {
    text-decoration: none;
}

.td-u {
    text-decoration: underline;
}

.c-p {
    cursor: pointer;
}

.inactive {
    color: #a7a7a7;
}

.def-text-color {
    color: rgb(30, 30, 30);
}

.white-tittle-color {
    color: white;
}

.inactive-blackbg {
    color: white;
}

.white-text-color {
    color: rgb(220, 220, 220);
}

.p-publish-title,
.p-expected-read-time {
    text-align: center;
    font-size: 1em;
    font-family: 'Bona Nova', serif;
    font-style: italic;
    margin-bottom: 10px;
}

p {
    cursor: text;
}

.lst-n {
    list-style-type: none;
}

.p-text {
    text-align: left;
    margin-bottom: 20px;
    font-size: 1.250em;
    line-height: 28px;
}

.p-baslik-blog-item {
    font-family: 'Poppins', sans-serif;
    color: rgb(14, 14, 14);
    font-size: 1.5em;
}

.p-kategori {
    text-align: left;
    display: inline-block;
    margin-right: 10px;
    font-size: 1.125em;
    padding: 10px;
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
}

.p-kategori-black {
    text-align: left;
    display: inline;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 1.125em;
    padding: 10px;
    background-color: rgb(45, 49, 58);
    border-radius: 5px;
}

.p-kategori-black-blog-item {
    text-align: left;
    display: inline;
    margin-right: 10px;
    font-size: 1.125em;
    padding: 10px;
    background-color: rgb(45, 49, 58);
    border-radius: 5px;
}

.kategori-bar {
    margin-top: 25px;
    text-align: left;
    margin-bottom: 40px;
}

.kategori-bar-blog-item {
    margin-bottom: 20px;
    margin-top: 25px;
    text-align: center;
}

.p-main-title {
    font-family: 'Bona Nova', serif;
    font-size: 2.25em;
    text-align: left;
}