.block-div {
    width: 100vw;
    height: 100vh;
    background-color: red;
}

.block {
    width: var(--icerik-w);
    height: auto;
    margin: auto;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    background-color: blue;
    text-align: center;
    align-content: center;
}