.block-div {
    width: 100vw;
    height: 100vh;
    background-color: red;
}

.block {
    width: 25%;
    height: 25%;
    margin: auto;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    background-color: blue;
}