@media only screen and (max-height: 1285px) and (max-width: 725px) {
    #nav-bar-menu ul{   
        display: none!important;
    }
    #nav-bar-menu-phone{
        display: -webkit-box!important;
        display: -ms-flexbox!important;
        display: flex!important;
    }
}

.auth-a{
    display: none!important;
}

.auth .unauth-a{
    display: none!important;
}
#nav-bar .auth .auth-a{
    display: inline-block!important;
}
#mySidenav .auth .auth-a{
    display: block!important;
}

#nav-bar {
    height: var(--navbar-h);
    width: 100%;
    
    margin: 42px 0px;
    padding: 0 16px;
    z-index: 5;

    position: absolute;
    top: 0px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;

    justify-content: space-between;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}


#nav-bar-title {
    height: 100%;
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
}

#nav-bar-menu {
    height: 100%;
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#nav-bar-menu ul{   
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#nav-bar-menu ul li{   
    display: inline-block;
    margin-right: 25px;
}

#nav-bar-menu ul li a{   
    text-decoration: none;
    color: inherit;
}

#nav-bar-menu ul li:last-child {
    margin-right: 0;
}

#nav-bar-search {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    flex-basis: 0;
}

#nav-bar-search svg{
    height: 1.5em;
    fill: white;
}

#nav-bar-menu-phone{
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 12px;
}

.sidenav {
    display: none;
    height: 133%;
    width: 100%;
    position: fixed;
    text-align: center;
    z-index: 10;
    top: 0;
    left: 0;
    padding-top: 60px;
    opacity: 0;
    /* değistirersen navbar.js da openNav() ve closeNav() de değistir */
    background-color: rgba(17, 17, 17, 0.9);
    backdrop-filter: saturate(180%) blur(16px);
    overflow-x: hidden;
    transition: 0.2s;
    /* değistirersen navbar.js da openNav() ve closeNav() de değistir */
}

#myMask {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    overflow-x: hidden;
    transition: 0.3s;
}

.sidenav a {
    margin: 20px;
    height: 40px;
    text-decoration: none;
    text-align: center;
    font-size: 32px;
    color: #dddddd;
    display: block;
}

.sidenav .closebtn {
    position: absolute;
    top: 25px;
    right: 45px;
    font-size: 72px;
    color: #dddddd;
}
/* newwwwwwwwwwwwwwwww */


.menu-items {
    position: relative;
    top: 33%;
    transform: translateY(calc(-50%));
}

.menu-items a {
    margin: 5px;
}

.fa-bars {
    font-size: 30px;
}

.a-nav {
    font-family: 'Roboto', sans-serif;
    display: block;
    text-align: center;
    font-size: 1.250em;
    font-weight: 400;
    margin-right: 20px;
    padding: 10px;
}

.logo {
    margin: auto 0px auto 5%;
    font-family: 'Roboto', sans-serif;
    font-size: 2.125em;
    font-weight: 100;
    cursor: pointer;
}

.def-tittle-color {
    color: white;
}