#nav-bar {
    height: var(--navbar-h);
    width: 100%;
    
    margin: 42px 0px;
    padding: 0 16px;
    z-index: 5;

    position: absolute;
    top: 0px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;

    justify-content: space-between;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}


#nav-bar-title {
    height: 100%;
    display: flex;
}

#nav-bar-menu {
    height: 100%;
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#nav-bar-menu ul{   
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#nav-bar-menu ul li{   
    display: inline-block;
    margin-right: 25px;
}

#nav-bar-search {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: flex-end;
}
#nav-bar-search svg{
    height: 1.5em;
}


/* newwwwwwwwwwwwwwwww */

@media only screen and (max-height: 1285px) and (max-width: 725px) {
    /* .nav-bar-phone {
        display: flex!important;
    } */
}

.menu-items {
    position: relative;
    top: 50%;
    transform: translateY(calc(-50% - var(--navbar-h)));
}

.menu-items a {
    margin: 5px;
}

.fa-bars {
    font-size: 30px;
}

.sidenav {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    padding-top: 60px;
    opacity: 0;
    /* değistirersen navbar.js da openNav() ve closeNav() de değistir */
    background-color: #111;
    overflow-x: hidden;
    transition: 0.2s;
    /* değistirersen navbar.js da openNav() ve closeNav() de değistir */
}

#myMask {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    overflow-x: hidden;
    transition: 0.3s;
}

.sidenav a {
    margin: 20px;
    height: 40px;
    text-decoration: none;
    font-size: 32px;
    color: #dddddd;
    display: block;
}

.sidenav a:hover {
    font-size: 38px;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 72px;
    margin-left: 50px;
    color: #dddddd;
}

.a-nav {
    font-family: 'Roboto', sans-serif;
    display: block;
    text-align: center;
    font-size: 1.250em;
    font-weight: 400;
    margin-right: 20px;
    padding: 10px;
}

.logo {
    margin: auto 0px auto 5%;
    font-family: 'Roboto', sans-serif;
    font-size: 2.125em;
    cursor: pointer;
}

.def-tittle-color {
    color: black;
}