#tasarım-main {
    position: relative;
    left: 0px;
    top: var(--navbar-h);
    margin: auto;
    width: var(--icerik-w);
}

.left-bar {
    display: inline-block;
    width: 70%;
    background-color: red;
}

.right-bar {
    display: inline-block;
    width: 30%;
    background-color: blue;
}

.item {
    width: 100%;
    margin-top: 150px;
    display: flex;
    position: fixed;
}

.baslik {
    font-weight: bold;
}

p {
    display: inline;
}