#tasarım-main {
    display: inline-block;
    top: var(--navbar-h);
    margin: 0px auto;
    max-width: 100%;
    height: 100%;
    width: var(--icerik-w);
}

.left-bar {
    display: inline-block;
    width: calc(100% - var(--icerik-w) / 3);
    height: 100%;
    background-color: red;
}

.right-bar {
    display: inline-block;
    height: 100%;
    width: calc(var(--icerik-w) / 3);
    background-color: blue;
}

.right-bar img {
    width: 100%;
    height: 100%;
    padding: 0px 25px;
    object-fit: cover;
}

.item {
    height: 200px;
    width: 100%;
    margin-top: 150px;
    display: flex;
    position: fixed;
}

.baslik {
    font-weight: bold;
}

p {
    display: inline;
}