@media only screen and (max-height: 1285px) and (max-width: 725px) {
    .nav-bar-pc {
        display: none!important;
    }
    .nav-bar-phone {
        display: flex!important;
    }
}

.logo {
    margin: auto 0px auto 5%;
    font-family: 'Roboto', sans-serif;
    font-size: 2.125em;
    cursor: pointer;
}

.def-tittle-color {
    color: black;
}

.nav-bar {
    height: var(--navbar-h);
    background-color: #fff;
    position: fixed;
    z-index: 4;
    width: 100%;
    display: flex;
    top: 0px;
}

.nav-bar-phone {
    width: 100%;
    height: 100%;
    display: none;
}

.nav-bar-icon {
    height: var(--navbar-h);
    width: var(--navbar-h);
    padding: 15px;
    display: inline-block;
    cursor: crosshair;
}

.nav-item-ul {
    margin: auto auto auto 10px;
}

.nav-item-li {
    float: left;
    text-align: center;
}

.a-nav {
    font-family: 'Roboto', sans-serif;
    display: block;
    text-align: center;
    font-size: 1.250em;
    font-weight: 400;
    margin-right: 20px;
    padding: 10px;
}