@media only screen and (max-height: 1285px) and (max-width: 725px) {
    .nav-bar-pc {
        display: none!important;
    }
    .nav-bar-phone {
        display: flex!important;
    }
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
  
#myMask{
    display:none;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0);
    overflow-x: hidden;
    transition: 0.5s;
}



.logo {
    margin: auto 0px auto 5%;
    font-family: 'Roboto', sans-serif;
    font-size: 2.125em;
}

.def-tittle-color {
    color: black;
}

.nav-bar {
    height: var(--navbar-h);
    background-color: #fff;
    position: fixed;
    z-index: 999;
    width: 100%;
    display: flex;
    top: 0px;
}

.nav-bar-pc {
    display: flex;
    width: 100%;
    height: 100%;
}

.nav-bar-phone {
    width: 100%;
    height: 100%;
    display: none;
}

.nav-bar-icon {
    height: var(--navbar-h);
    width: var(--navbar-h);
    padding: 10px;
    display: inline-block;
}

.nav-item-ul {
    margin: auto auto auto 10px;
}

.nav-item-li {
    float: left;
    text-align: center;
}

.a-nav {
    font-family: 'Roboto', sans-serif;
    display: block;
    text-align: center;
    font-size: 1.250em;
    font-weight: 400;
    margin-right: 20px;
    padding: 10px;
}