@media only screen and (max-height: 1285px) and (max-width: 725px) {
    .nav-bar-pc {
        display: none!important;
    }
    .nav-bar-phone {
        display: flex!important;
    }
}

.logo {
    margin: auto 0px auto 5%;
    font-family: 'Roboto', sans-serif;
    font-size: 2.125em;
    cursor: pointer;
}

.def-tittle-color {
    color: black;
}

/* ananın amı zafer */
/* ananın amı zafer */
/* ananın amı zafer */
/* ananın amı zafer */
/* ananın amı zafer */
/* ananın amı zafer */
/* ananın amı zafer */
/* ananın amı zafer */
/* ananın amı zafer */
/* ananın amı zafer */
/* ananın amı zafer */
/* ananın amı zafer */
/* ananın amı zafer */
/* ananın amı zafer */
/* ananın amı zafer */
/* ananın amı zafer */
/* ananın amı zafer */
/* ananın amı zafer */
/* ananın amı zafer */
/* ananın amı zafer */
/* ananın amı zafer */
/* ananın amı zafer */
/* ananın amı zafer */
/* ananın amı zafer */
/* ananın amı zafer */
/* ananın amı zafer */
/* ananın amı zafer */