/* 3 */
*{
    --nav-size: 10vw;
    --nav-line-fix: 5vw;
}
@media only screen and (max-width: 1110px) and (min-width: 1010px) {
    * {
        --icerik-w: 1000px;
    }
    .blog-item {
        width: calc((100% / 3) - 32px)!important;
    }
}
/* 2 */
@media only screen and (max-width: 1010px) and (min-width: 835px) {
    * {
        --icerik-w: 825px;
        --nav-size: 20vw;
        --nav-line-fix: 0vw;
    }
    .blog-item {
        width: calc((100% / 2) - 32px);
    }
}
/* telefon */
@media only screen and (max-width: 835px) {
    * {
        --icerik-w: 100%;
        --nav-size: 20vw;
        --nav-line-fix: 0vw;
    }
    .blog-item {
        width: calc(100% - 32px);
    }
    #user-pp{
        width: calc(100% - 1px)!important;
    }
    #user-info{
        width: calc(100% - 1px)!important;
    }
    #user-pp img{
        max-width: 200px!important;
        position: relative!important;
        margin-left: 50%!important;
        transform: translateX(-50%)!important;
    }
}

#user-div{
    position: relative;
    top: calc(var(--navbar-h) + 42px + 21px);
    width: var(--icerik-w);
    margin: auto;
    padding: 0px 20px;
    display: flex;
    flex-wrap: wrap;
}

#user-body{
    width: 100%;
    margin-bottom: 50px;
    margin-top: 1em;
}

#user-head{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
#user-pp{
    width: 33%;
}
#user-pp img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 42px;
}
#user-info{
    width: 67%;
}
#user-name{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 42px;
}
/* #user-des{
} */
#user-body-nav{
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: solid 1px white;
    margin-top: 10px;
    flex-wrap: wrap;
}

#user-body-nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin: 0 auto;
}

#user-body-nav ul li{
    display: inline-block;;
    cursor: pointer;
    padding: 0.6em 5vw;
    width: 20vw;
    text-align: center;
}

#user-body-nav ul li svg{
    height: 1.2em;
    fill: white;
}

#user-body-mask{
    width: 100%;
    overflow: hidden;
}

#user-body-page{
    flex-wrap: wrap;
    width: 300%;
    display: flex;
    transition: 0.5s;
}

#user-body-page .user-body-page-item{
    display: inline-block;
    width: calc(100% / 3);
}

#user-body-nav-line{
    height: 5px;
    padding: 0 0 0 calc(0 * 20vw + var(--nav-line-fix));;
    /* padding: 0 20vw 0 20vw;
    padding: 0 00vw 0 40vw; */
    width: 100%;
    margin: 0 calc(( 100% - 60vw ) / 2);
    transition: 0.5s;
}
#user-body-nav-line div{
    border-top: 5px solid white;
    width: var(--nav-size);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}




/*                    */



.blog-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 75px auto 0px auto;
}
.blog-item-author-info{
    align-items: center;
    display: flex;
    margin-right: 5px;
}

.blog-item .p-publish-title {
    z-index: 1;
}
.p-aciklama-blog-item{
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 17px;
    color: #DDD;
}

.blog-content{
    z-index: 1;
    width: 100%;
    margin-top: auto;
    padding: 0 32px 32px;
    pointer-events: none;
}
.p-aciklama-blog-item{
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 17px;
    color: #DDD;
}
.a-img-blog-item::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(15,14,21,.4);
    pointer-events: none;
}
.blog-item-details{
    pointer-events: all;
}
.kategori-bar-blog-item {
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
}

.kategori-bar-blog-item:last-child {
    margin-right: 0px!important;
}

.blog-item {
    width: calc((100% / 3) - 32px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    min-height: 250px;
    border-radius: 16px;
    margin: 0 16px;
    margin-bottom: 32px;
    transition: 0.3s;
    -webkit-box-shadow: 0 5px 10px 0 rgb(0 0 0 / 50%);
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 50%);
    background-color: #09080f;
}

.blog-item:hover{
    transform: translateY(-5px);
}

.blog-list-long{
    width: calc((100% / 2) - 32px);
}

.img-blog-item {
    width: 100%;
    /* height: 200px; */
    position: absolute;
    z-index: 0;
    height: 100%;
    border-radius: 16px;
    cursor: pointer;
    object-fit: cover;
}