/* 3 */
@media only screen and (max-width: 1110px) and (min-width: 1010px) {
    * {
        --icerik-w: 1000px;
    }
    .blog-item {
        width: calc((100% / 3) - 32px)!important;
    }
}
/* 2 */
@media only screen and (max-width: 1010px) and (min-width: 835px) {
    * {
        --icerik-w: 825px;
    }
}
/* telefon */
@media only screen and (max-width: 835px) {
    * {
        --icerik-w: 100%;
    }
    #user-pp{
        width: calc(100% - 1px)!important;
    }
    #user-info{
        width: calc(100% - 1px)!important;
    }
    #user-pp img{
        max-width: 200px!important;
        position: relative!important;
        margin-left: 50%!important;
        transform: translateX(-50%)!important;
    }
}


#user-div{
    position: relative;
    top: calc(var(--navbar-h) + 42px + 21px);
    width: var(--icerik-w);
    margin: auto;
    padding: 0px 20px;
    display: flex;
    flex-wrap: wrap;
}

#user-head{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
#user-pp{
    width: 33%;
}
#user-pp img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 42px;
}
#user-info{
    width: 67%;
}
#user-name{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 42px;
}
/* #user-des{
} */
#user-body-nav{
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: solid 1px white;
    margin-top: 10px;
}

#user-body-nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin: 0.6em auto;
}

#user-body-nav ul li{
    display: inline-block;;
    margin-right: 10vw;
    cursor: pointer;
}

#user-body-nav ul li:last-child {
    margin-right: 0;
}