/* 3 */
@media only screen and (max-width: 1110px) and (min-width: 1010px) {
    * {
        --icerik-w: 1000px;
    }
    .blog-item {
        width: calc((100% / 3) - 32px)!important;
    }
}
/* 2 */
@media only screen and (max-width: 1010px) and (min-width: 835px) {
    * {
        --icerik-w: 825px;
    }
}
/* telefon */
@media only screen and (max-width: 835px) {
    * {
        --icerik-w: 100%;
    }
    #user-pp{
        width: 100%!important;
    }
}


#user-div{
    position: relative;
    top: calc(var(--navbar-h) + 42px + 21px);
    width: var(--icerik-w);
    margin: auto;
    padding: 0px 20px;
    background-color: red;
    display: flex;
    flex-wrap: wrap;
}

#user-head{
    width: 100%;
    display: flex;
    position: relative;
}
#user-pp{
    width: 33%;
}
#user-pp img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 15%;
}
#user-info{
    width: 67%;
}
#user-name{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 42px;
}
#user-des{
}