#div-icerik{
    max-width: var(--icerik-w);
    margin: 0px auto 0px auto;
    position: relative;
    top: calc(var(--navbar-h) + 42px + 21px);
}

.item{
    width: 100%;
    padding: 0 5%;
    display: flex;
    font-size: 1.7em;
    margin-top: 10px;
}

.item-plus {
    width: 10%;
    text-align: center;
}
.item-plus .menu {
    display: none;
    position: absolute;
}
.item-body{
    width: 90%;
}