#div-icerik{
    max-width: var(--icerik-w);
    margin: 0px auto 0px auto;
    position: relative;
    top: calc(var(--navbar-h) + 42px + 21px);
}

.item{
    width: 100%;
    padding: 0 5%;
    display: flex;
    /* font-size: 1.7em; */
    margin-top: 10px;
}

.item-plus {
    width: 10%;
    text-align: center;
}
.item-plus .menu {
    display: none;
    position: absolute;
    height: 1.7em;
}
.item-plus .fake-menu {
    display: none;
    height: 1.7em;
}
.open .menu{
    display: inline-block!important;
}
.open .fake-menu{
    display: inline-block!important;
}

.item-body{
    width: 90%;
}
.item-body p[contenteditable] {
    border-left: 1px solid white;
    min-height: 1.7em;
}



.textbox[placeholder]:empty:before {
    content: attr(placeholder);
    color: #555; 
    padding-left: 1em;
}
.textbox[placeholder]:empty:focus:before {
    content: "";
}